body {
  margin: 0;
  background: #793445;
  font-family: 'Amatic SC', sans-serif;
  background-image: url("../images/bg.png");
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 10px 0;
  font-size: 38px;
  color: #EDC0B8;
  background-color: #180929;
  border-bottom: 2px solid #EDC0B8;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  color: #180929;
}

hr {
  height: 1px;
  border-width:0;
  background-color: #EDC0B8;
  width: 90%;
}

.headshot {
  border-radius: 100%;
  width: 50%;
  border: 2px solid #180929;
}

.boxShadow {
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:  3px 3px 15px rgba(0, 0, 0, 0.3);
  box-shadow:  3px 3px 15px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 80%;
  border-radius: 100%;
  border: 1px solid #EDC0B8;
  margin-bottom: 10px;
}

/*.logo:hover {*/
  /*-webkit-box-shadow: 0 0 10px #EDC0B8;*/
  /*-moz-box-shadow: 0 0 10px #EDC0B8;*/
  /*box-shadow: 0 0 10px #EDC0B8;*/
/*}*/

a {
  text-decoration: none;
}

.logoContainerDiv {
  width: 25%;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.pageBodyContent {
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto 10px auto;
  text-align: center;
  background-color: #B590A3;
  border: 2px solid #EDC0B8;
}

#connectionDetails {
  position: relative;
}

#selector {
  position: absolute;
  transform: translateX(-50%);
  top: -33px;
  left: 12%;
  /*left: 38%;*/
  /*left: 62%;*/
  /*left: 87%;*/
}

#form {
  text-align: left;
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

#input {
  width: 70%;
  color: #EDC0B8;
  background-color: #793445;
  font-size: 12px;
  padding: 5px 5px;
  height: 25px;
  border: 2px solid #180929;
  -webkit-box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.icon {
  height: 35px;
  border: 2px solid #180929;
  border-radius: 100%;
  margin-left: 5px;
}

#contactDownloadBtn {
  width: 50%;
  margin: 0 auto;
  background-color: #EDC0B8;
  border: 2px solid #180929;
  display: flex;
  justify-content: center;
}

.btn:hover {
  -webkit-box-shadow: 0 0 10px #EDC0B8;
  -moz-box-shadow: 0 0 10px #EDC0B8;
  box-shadow: 0 0 10px #EDC0B8;
}

.selectedLogo {
  -webkit-box-shadow: 0 0 12px #EDC0B8;
  -moz-box-shadow: 0 0 12px #EDC0B8;
  box-shadow: 0 0 12px #EDC0B8;
}

#vcfIcon {
  height: 35px;
}

#vcfDownloadCaption {
  margin: 0 0 0 15px;
  line-height: 35px;
  color: #180929;
  font-size: 18px;
}